@model dynamic

@{
    ViewData["Title"] = "Employee Panel";
}

<h1>Employee Panel</h1>
<p>Chào mừng Nhân Viên! Đây là khu vực làm việc của bạn.</p>
<ul>
    <li><a asp-controller="Home" asp-action="GeneralPanel">Truy cập General Panel</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Quay về trang chủ</a></li>
</ul>