@model dynamic

@{
    ViewData["Title"] = "General Panel";
}

<h1>General Panel</h1>
<p>Đây là khu vực chung cho cả Admin và Nhân Viên.</p>
<ul>
    <li><a asp-controller="Home" asp-action="Index">Quay về trang chính khu vực Admin</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Quay về trang chủ</a></li>
</ul>