@* Areas/Brand/Views/Home/Index.cshtml *@
@{
    ViewData["Title"] = "Quản lý hãng xe";
}

<h1>Quản lý hãng xe</h1>
<p>Chào mừng Brand! Đây là trang quản lý xe của bạn.</p>
<a asp-area="Brand" asp-page="/RegisterCoach" class="btn btn-primary">Đăng ký xe</a>
<a asp-action="GoToHomePage" class="btn btn-secondary">Quay về Trang chủ</a>